<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTA DE PRODUTOS</span>
          <button class="btn btn-sucess float-end btn-primary" routerLink="/criar-produto">NOVO</button>
          <table *ngIf="listarProdutos.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Produto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Local</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of listarProdutos">
                <th>{{ produto.nome }}</th>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.local }}</td>
                <td>{{ produto.preco | currency: 'BRL' }}</td>
                <td>
                  <i [routerLink]="['/editar-produto', produto._id]" class="fas fa-edit text-primary"></i>
                  <i (click)="deletarProduto(produto._id)" class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 style="text-align: start; margin-top: 10px" *ngIf="listarProdutos.length == 0">Não há produto para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>
